.modal {
 
  width: 50vw;
  position: fixed;
  height: 60vh;
  top: 20%;
  left: 25%;
  z-index: 999;
  > .closeBtn {
    display: flex;
    justify-content: flex-end;
    height: 2rem;
    background-color: black;
    padding:5px;
    .btn{
      background: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover{
        scale: 1.2;
      }
      >svg{
        color: white;
      }
    }
  }
  > .videoPlayer {
    height:calc(60vh - 2rem) ;
    
  }
}
